.gameContainerFruitNinja {
    background-image: url('./config/assets/game_background_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.fruitWrapper {
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 80px;
}