.gameContainerFruitNinja {
    background-image: url('./config/assets/game_background_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 70%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 20px solid white;
}

.fruitWrapper {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.fruitNinjaH1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: #009688;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 00px;;
}

.gameStatsBoardsFruitNinja {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    margin-left: 860px; 
    margin-top: 270px;
}