.gameContainerFruitNinja {
    background-image: url('./config/assets/game_background_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 70%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 20px solid white;
}

.fruitWrapper {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}