.childReport {
    font-family: 'Lato', sans-serif;
    font-size : 1.2rem;
    display: flex;
    min-width: 20%;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: space-around;
    margin: 3rem;
    text-align: center;
}
.childIcon {
    height: 320px;
    width: auto;
    flex : 0 0 auto;
}
a {
    text-decoration: none;
}

.flip-card {
    background-color:transparent;
    width: 350px;
    height: 500px;
    perspective: 1000px;
  }
  
.flip-card-inner {
  border-radius: 2rem;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.5);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  border-radius: 2rem;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-flow: column nowrap;
}

.flip-card-front {
  background-color: #009688;
  color: black;

  justify-content: flex-start;
  align-items: center;
}

.flip-card-back {
  background-color: #004f48;
  color: white;
  transform: rotateY(180deg);
  justify-content: space-around;
  align-items: center;
}
.actionBtn:hover {
  background-color: #102725!important
}
.actionFooter {
  min-width: 300px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}
