.content {
    position: relative;
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

.listWrapper {
    width: 100%;
    height: 100%;
}

.draggableDiv {
    position: absolute;
    width: 100%;
    height: 150px;
    overflow: visible;
    pointer-events: auto;
    transform-origin: 50% 50% 0px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff00;
}

/* .welcomeBoard {
    width: 100%;
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
} */

/* .welcomeBoardContent {
    width: 30%;
    display: flex;
    margin-top: 7%;
    margin-left: 35%;
    flex-direction: column;
    justify-content: center
} */

/* .welcomeBoardTitle {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 0px
} */

/* .welcomeBoardTitle > h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 120px;
    color: blueviolet;
    text-shadow: 12px 10px #ffdfa5;
    margin-top: 13px;
    margin-bottom: 15px;
} */

/* .welcomeBoardTitle > h5 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
    color: blueviolet;
    margin-bottom: 0px;
} */
/* 
.startButton {
    padding: 30px;
    border: none;
    font-family: 'Luckiest Guy', cursive;
    font-size: 54px;
    margin-top: 0px;
    border-radius: 20px;
    background-color: #009688;
    color: white;
} */

/* .selectLvlBoard {
    height: 60%;
    width: 60%;
    left: 20%;
    background-image: url('https://i.imgur.com/EdfYGDX.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
} */

/* .selectLvlHeader {
    font-family: 'Luckiest Guy', cursive;
    font-size: 60px;
    color: blueviolet;
    text-align: center;
    text-shadow: 7px 7px #ffdfa5;
    height: 30%;
} */

/* .levelButtonContainer{
    display: flex;
    flex-direction: row;
} */

/* .scoreBoardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-content: center;
    align-items: center;
} */

/* .levelButtons {
    padding: 30px;
    border: none;
    font-family: 'Luckiest Guy', cursive;
    font-size: 54px;
    margin-top: 0px;
    border-radius: 20px;
    background-color: #009688;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
} */

/* .scoreBoard {
    background-image: url('https://i.imgur.com/V3owt80.png');
    height: 70%;
    width: 35%;
    left: 33.5%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
} */

/* .scoreBoardContent {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-right: 25px;
} */

/* .scoreBoardContent > h2 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 40px;
    color: blueviolet;
    text-align: center;
    text-shadow: 7px 7px #ffdfa5;
    text-align: right;
} */

/* .scoreBoardContent > h4 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 100px;
    color: blueviolet;
    text-align: center;
    text-shadow: 7px 7px #ffdfa5;
    margin: 0;
    margin-top: 5px;
    text-align: right;
} */

/* .scoreBoardContent > button {
    padding: 20px;
    border: none;
    font-family: 'Luckiest Guy', cursive;
    font-size: 24px;
    margin-top: 0px;
    border-radius: 20px;
    background-color: #009688;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
} */

.gameContainer {
    width: 100%;
    height: 900px;
    background-image: url('https://i.imgur.com/Lb0hkFM.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

/* .gameContainerOnBlur {
    width: 100%;
    height: 900px;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('https://i.imgur.com/Lb0hkFM.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
} */

.gameContainer > h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
    color: #009688;
    text-align: center;
    text-align: right;
    margin-bottom: 0px;
}

/* .gameContainerOnBlur > h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
    color: #009688;
    text-align: center;
    text-align: right;
    margin-bottom: 0px;
} */

/* .selectLvlBoardWrapper, .scoreBoardWrapper  {
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('https://i.imgur.com/Lb0hkFM.png');
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
} */
