#gameContainerPuzzle {
    background-image: url('https://i.imgur.com/Lb0hkFM.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.content {
    position: relative;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

.listWrapper {
    width: 100%;
    height: 100%;
}

.draggableDiv {
    position: absolute;
    width: 100%;
    height: 150px;
    overflow: visible;
    pointer-events: auto;
    transform-origin: 50% 50% 0px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff00;
}

#gameContainerPuzzle > h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
    color: #009688;
    text-align: center;
    text-align: right;
    margin-bottom: 0px;
}

.gameContentWrapper {
    display: flex;
    justify-content: space-around;
    width: 55%;
}

.gameMainContent {
    display: flex;
    width: 80%;
}

.gameStatsBoards {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    margin-top: 470px;
}

.levelOptions {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: center;
    width: 15%;
}

.option {
    width: 80%;
    height: 7%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    margin-top: 3px;
}