.gameCard {
    display: flex;
    width:220px;
    /* min-width: 15%; */
    flex-flow: column nowrap;
    justify-content:center;
    text-align: center;
    /* background-color: pink; */
    margin-bottom: 50px;
}

.game_icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: plum; */
}

.gameIcon {
    height: 200px;
    width: 200px;
    /* background-color: palegoldenrod; */
}

a {
    text-decoration: none;
}

.gameCard > a > h2 {
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin-top: 0;
}