.login {
    font-family: 'Luckiest Guy', cursive;
    margin: 0 auto;
    top: 5rem;
    width: 60%;
    height: 400px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-flow: column nowrap;
}

.loginPage {
    background-image: url('../../common/assets/landing_background_1.png');
    width: 100%;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}