.login {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    top: 5rem;
    width: 60%;
    height: 400px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.loginForm {
    display: flex;
    flex-flow: column nowrap;
    min-width:300px; 
}
#h4Register:hover {
    cursor: pointer;
}

.loginPage {
    background-image: url('../../common/assets/landing_background_1.png');
    width: 100%;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.register-container {
    margin-top : 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
}
#h4Register {
    align-self: center;
}