.gamesPage {
    background-color: rgb(26,174,178);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url('../../common/assets/game_page_bg_1.png');
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto;
    top: 5rem;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    margin-bottom: 30px;
}

.gameListing {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
}

.gamesPage > h1 {
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin: 20px 5%;
    align-self: flex-start;
}

.nameBox {
    width: 30%;
    height: 40px;
    padding: 5px;
    background-color: #fbfaf852;
    border-radius: 20px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.kidName {
    font-weight: 600;
    font-size: 20px;
    color: #d27906;
    margin-left: 10px;
    font-weight: 800;
}

.gamesPage > h3 {
    font-weight: 600;
}