.submitButton {
    z-index: 1;
    border-radius: 50px;
    background-color: #E91E63;
    padding: 20px;
    border: none;
    color: white;
    align-self: flex-end;
    position: relative;
    border: 5px solid #cc1a57;
}

.resultEmoji {
    z-index: 1;
    align-self: flex-end;
    position: relative;
    font-size: 70px;
}