.navbar {
    background-color: rgb(193, 193, 201);
    margin: 0 auto;
    max-width: 100%;
    padding: 0.3rem 5rem;
}

ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}
li {
    list-style: none;
}

