.childCard {
    display: flex;
    min-width: 20%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    text-align: center;
}

.icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 320px;
    overflow: hidden;
}

.childIcon {
    height: 300px;
    width: auto;
}

a {
    text-decoration: none;
}

.childCard > a > h2 {
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin-top: 0;
}