.childCard {
    display: flex;
    min-width: 20%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    text-align: center;
}
.icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    border: 5px solid black;
    border-radius: 50%;
    overflow: hidden;
}
.childIcon {
    height: 160px;
    width: auto;
}
a {
    text-decoration: none;
}
