.navBar {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background-color: white;
    margin: 0 auto;
    width: 100%;
    display: flex;
    height: 100%;
}

.navBarLeft {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navBarRight {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    background-color: #009688;
    justify-content: space-evenly;
}

.navBarItem {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.navLink:hover {
    cursor: pointer;    
}
.navBtn:hover {
    background-color: #004f48!important;
}

li {
    list-style: none;
    padding: 0.3rem 2rem;
}

