#gameContainerWhackAMole {
    background-image: url('https://i.ibb.co/tcrzkws/whackbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: springgreen;
}

#gameContainerWhackAMole>h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    color: #009688;
    text-align: center;
    text-align: center;
    margin-bottom: 0px;
}

.gameContentLeftWhackAMole {
    display: flex;
    width: 25%;
    flex-flow: column nowrap;
}

.gameContentWrapperWhackAMole {
    display: flex;
    width: 100%;
    height: 100%;
}

.gameMainContentWhackAMole {
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
}

.gameStatsBoardsWhackAMole {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.board {
    width: 100%;
    height: 60%;
    text-align: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    cursor: url("./assets/hammerUps.png") 25 75, auto;
    /* background-color: yellow; */
}

.board:active {
    cursor: url("./assets/hammerDowns.png") 25 75, auto;
}

.game__hole {
    margin: 2px;
    overflow: hidden;
    width: 30vw;
    height: 30vw;
}

.game__mound {
    background: url(./assets/mole-hole.svg);
    background-position: right 5px bottom 0px;
    background-size: 95%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 99%;
    pointer-events: none;
    backface-visibility: hidden;
}

.game__mole {
    background-image: url(./assets/mole.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;
    transform: translate(0, 50%);
    transition: all 0.4s;
}

.game__whack {
    width: 100%;
    height: 100%;
}

.game__cross {
    background-image: url(./assets/smash.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
    width: 100%;
    height: 100%;
}

.no-background {
    background: none;
}

@media screen and (min-width: 400px) {
    #gameContainer {
        height: 100vh;
    }
    .game__mole {
        background-size: 60px;
    }
}

@media screen and (min-width: 500px) {
    .game__cross {
        background-size: 75px;
    }
    .game__mole {
        background-size: 65px;
    }
    .game__hole {
        width: 120px;
        height: 120px;
    }
}