.parentDashboard {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: white;
    margin: 0 auto;
    width: 90%;
    margin-left: 5%;
    margin-top: 2.5%;
    height: fit-content;
    display: flex;
    margin-bottom: 100px;
}

.dashboard-main {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 2.5%;
    margin-left: 0;
}

.childList-wrapper {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.childList-wrapper > h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #0000009e;
    margin-bottom: 0.75rem;
    line-height: 1.2;
}

.childList-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 15px;
}

.iconSelection {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    justify-content: flex-start;
    align-items: center;
}

.iconSelection::-webkit-scrollbar {
    height: 20px;
}

.iconSelection::-webkit-scrollbar-track {
    display: none;
}

.iconSelection::-webkit-scrollbar-thumb {
    background: #009688;
    border-radius: 10px;
}

.iconSelection::-webkit-scrollbar-thumb:hover {
    background: #00534b;
}

  
.icon {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.iconImg {
    width: 80px;
    height: auto;
}

.add-card {
    width: 200px;
    height: 250px;
    background-color: #8080804a;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#addChildBtn {
    font-family: 'Lato', 'san-serif';
    font-weight: 500;
    font-size: 16px;
    background-color: rgb(255 255 255 / 38%);
    padding: 25px;
    border: none;
    border-radius: 300px;
    color: white;
}

.gameList-wrapper > h3 {
    font-size: 1rem;
    font-weight: 400;
}

.gameList-wrapper {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.gameList_parent {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 15px;
}