.landingpage {
    background-image: url('https://i.imgur.com/3r4tddR.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    top: 5rem;
    width: 60%;
    height: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 30%;
}