html {
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: #9e9e9e1f;
  font-family: 'Lato', sans-serif;
  color: #0000009e;
  font-weight: 400;
}

