input {
    width: 100%;
    height: 3.5rem;
    border: none;
    border-bottom : 0.1px solid transparent;
    border-image: linear-gradient(to right, 
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0)
      ) 0.5;
}
.input[type=text], 
.input[type=email],
.input[type=password],
.input[type=password],
.input[type=date],
.input[type=number] {
    font-family: 'Luckiest Guy', cursive;
    font-size : 1.2rem;
}
.input:focus {
    outline : none;
    border: none;
    background-color :  #0096876c;
    width: 100%;
    
}
.input::-webkit-input-placeholder {
    font-size : 1.2rem;
    font-family: 'Luckiest Guy', cursive;
    color: rgb(153, 153, 153)
}