.homepage {
    background-image: url("../../common/assets/home_bg_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 0 auto;
    top: 5rem;
    width: 100%;
    height: 800px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.childList {
    display: flex;
    flex-flow: row nowrap;
    max-width: 50%;
    align-items: center;
    margin: 10rem auto;
    justify-content: space-around;
}

.authorise_link {
    background-color: #f06391;
    padding: 10px;
    border-radius: 5px;
    margin-top: 80%;
}