.homepage {
    background-image: url("../../common/assets/landing_background_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 0 auto;
    top: 5rem;
    width: 100%;
    min-height: 60rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.childList {
    display: flex;
    flex-flow: row nowrap;
    max-width: 70%;
    align-items: center;
    margin: 10rem auto;
    justify-content: space-around;
}